* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
textarea {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

.card-preview {
  position: absolute;
  /* opacity: 0.8; */
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
  transform: rotate(5deg);
}

.shadow {
  background-color: #a97329 !important;
  color: #a97329 !important;
}

.shadow div {
  background-color: #a97329 !important;
  color: #a97329 !important;
  box-shadow: none;
}

.shadow input {
  background-color: #a97329 !important;
  color: #a97329 !important;
  outline: none;
}

.shadow input:focus {
  border: none;
  outline: none;
}
